<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.moma.zoffy.rbac.user.mapper.UserMapper">
    <select id="qById" parameterType="Integer" resultType="top.moma.zoffy.rbac.user.entity.User">
        select *
        from user
        where user_id = #{userId};
    </select>


</mapper>